<ion-view view-title="กระดานสนทนา" can-swipe-back="false" class="bg-img-blur">
    <ion-nav-buttons side="right">
        <span ng-click="goto('app/board_create')">
            <a class="button button-icon button-clear icon ion-compose nav-buttons-right vs-nav-icon"></a>
        </span>
    </ion-nav-buttons>
    <ion-content>
        <ion-spinner ng-if="!loadingShow" class="loadding-content" icon="circles"></ion-spinner>
        <div class="list" ng-if="loadingShow">
            <div class="item item-icon-right" ng-if="listBoard.length > 0" ng-repeat="(key, value) in listBoard" ng-click="gotoBoard(value)">
                <span style="font-size: 22px;font-weight: bold;">หัวข้อ: {{value.content_title}}</span>
                <i class="icon ion-ios-arrow-right"></i>
                <p style="font-size: 20px;">
                    <span>หมวดหมู่: {{value.content_type}}</span>
                </p>
                <p style="font-size: 20px;">
                    <span> อ่าน: {{value.content_read}}</span>
                    <span> ตอบ: {{value.content_answer}}</span>
                </p>
                <p style="font-size: 20px;text-align: right;">{{ value.create_date | covertotimeThai }}</p>
            </div>
            <div class="card" ng-if="listBoard.length === 0">
                <div class="item item-text-wrap">
                    <span class="title-accident">ไม่พบกระดานสนทนา</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>