<ion-view view-title="{{titile}}" can-swipe-back="false" class="bg-img-blur" style="overflow: hidden;">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear icon icon-menu7 vs-nav-icon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <span ng-click="goto('/app/feed_unread')">
            <a class="button button-icon button-clear icon ion-ios-bell nav-buttons-right vs-nav-icon"></a>
            <span class="badge badge-assertive" style="position: absolute;left: -5px;" ng-if="unRead.length > 0">{{unRead.length}}</span>
        </span>
    </ion-nav-buttons>
    <ion-header-bar class="bar-subheader subheader-menu-vs nav-subheader">
        <div class="row">
            <div class="col col-33" ng-click="click(0);">
                <i class="icon ion-android-bookmark" ng-class="{'select-box-active': slidefeed === 0}">
                    <p>ประชาสัมพันธ์</p>
                </i>
            </div>
            <div class="col col-33" ng-click="click(1);">
                <i class="icon ion-speakerphone" ng-class="{'select-box-active': slidefeed === 1}">
                    <p>ประกาศ</p>
                </i>
            </div>
            <div class="col col-33" ng-click="click(2);">
                <i class="icon ion-pricetags" ng-class="{'select-box-active': slidefeed === 2}">
                    <p>กิจกรรม</p>
                </i>
            </div>
        </div>
    </ion-header-bar>
    <ion-content scroll="false">
        <ion-spinner ng-if="!loadingShow" class="loadding-content" icon="circles"></ion-spinner>
        <div ng-if="loadingShow" ng-class="{'ads-height': slidefeed === 0}" style="position: relative;">
            <ion-slide-box ng-if="slidefeed === 0" show-pager="false" does-continue="false" auto-play="false" on-slide-changed="slideHasChanged($index)" delegate-handle="imgSlide">
                <ion-slide ng-repeat="value in imgPage">
                    <img ng-src="{{server_url}}{{value.path}}" class="slide-news" style="max-width: {{MaxWidth}}px">
                    <div class="slidenews" ng-click="readNews(value._id, value.news_id);">
                        <p class="topic-feed">{{value.title}}</p>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <i class="ion-arrow-left-b icon-slidepage" style="font-size:45px;bottom: 50%;left: 10px;" ng-click="clickImgSlideLeft()"></i>
            <i class="ion-arrow-right-b icon-slidepage" style="font-size:45px;bottom: 50%;right: 10px;" ng-click="clickImgSlideRight()"></i>
            <i class="ion-record icon-slidepage" style="bottom: 45px;left: 40%;" ng-class="{'activeIconImg': imgSlide === 0}" ng-click="choosePage(0)"></i>
            <i class="ion-record icon-slidepage" style="bottom: 45px;left: 50%;" ng-class="{'activeIconImg': imgSlide === 1}" ng-click="choosePage(1)"></i>
            <i class="ion-record icon-slidepage" style="bottom: 45px;left: 60%;" ng-class="{'activeIconImg': imgSlide === 2}" ng-click="choosePage(2)"></i>
            <!-- <ion-slide-box ng-if="slidefeed === 1" show-pager="false" does-continue="true" auto-play="true">
                <ion-slide ng-repeat="value in feedPage2">
                    <img ng-src="{{server_url}}{{value.path}}" class="slide-news" style="max-width: {{MaxWidth}}px">
                    <div class="slidenews">
                        <p class="topic-feed">{{value.title}} </p>
                    </div>
                </ion-slide>
            </ion-slide-box>
            <ion-slide-box ng-if="slidefeed === 2" show-pager="false" does-continue="true" auto-play="true">
                <ion-slide ng-repeat="value in feedPage3">
                    <img ng-src="{{server_url}}{{value.path}}" class="slide-news" style="max-width: {{MaxWidth}}px">
                    <div class="slidenews">
                        <p class="topic-feed">{{value.title}} </p>
                    </div>
                </ion-slide>
            </ion-slide-box> -->
        </div>
        <ion-slide-box delegate-handle="mainSilde" on-slide-changed="slide($index);" show-pager="true" style="height: 100%" ng-if="loadingShow" ng-class="{'content-height': slidefeed === 0}">
            <ion-slide>
                <div class="item item-input-inset" ng-click="openModal('modal-searchfeed')">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" ng-model="searchPage1.text" placeholder="ค้นหา" disabled="true">
                    </label>
                    <img src="img/feed/calendar.png" style="width: 32px;left: 6px;position: relative;" ng-if="date1 === null">
                    <img src="img/feed/calendar_select.png" style="width: 32px;left: 6px;position: relative;" ng-if="date1 !== null">
                </div>
                <ion-scroll class="scroll">
                    <ion-refresher pulling-text="ดึงลงเพื่อโหลดใหม่" on-refresh="doRefrsesh()" pulling-icon="ion-android-arrow-down light" spinner="bubbles" class="refresher-job">
                    </ion-refresher>
                    <div ng-if="feedPage1.length > 0">
                        <div class="list fix-tag-list-html">
                            <div class="item item-thumbnail-left" ng-repeat="value in feedPage1 | filterBy: ['title','content']: searchPage1.text | orderBy:'-create_date'" ng-click="readNews(value._id, value.news_id);" style="height: 100px;">
                                <img ng-src="{{server_url}}{{value.path}}" style="object-fit: cover;z-index: 999;">
                                <h2>{{value.title}}</h2>
                                <div class="fix-tag-list-img" ng-bind-html="value.content"></div>
                                <div class="date-feed">{{ value.create_date | covertotimeThai }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-if="feedPage1.length === 0">
                        <div class="item item-text-wrap">
                            <span class="title-accident">ไม่พบข่าว</span>
                        </div>
                    </div>
                    <div style="height: 48px;"></div>
                </ion-scroll>
            </ion-slide>
            <ion-slide>
                <div class="item item-input-inset" ng-click="openModal('modal-searchfeed')">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" ng-model="searchPage2.text" placeholder="ค้นหา" disabled="true">
                    </label>
                    <img src="img/feed/calendar.png" style="width: 32px;left: 6px;position: relative;" ng-if="date2 === null">
                    <img src="img/feed/calendar_select.png" style="width: 32px;left: 6px;position: relative;" ng-if="date2 !== null">
                </div>
                <ion-scroll class="scroll">
                    <ion-refresher pulling-text="ดึงลงเพื่อโหลดใหม่" on-refresh="doRefrsesh()" pulling-icon="ion-android-arrow-down light" spinner="bubbles" class="refresher-job">
                    </ion-refresher>
                    <div ng-if="feedPage2.length > 0">
                        <div class="list fix-tag-list-html">
                            <div class="item item-thumbnail-left" ng-repeat="value in feedPage2 | filterBy: ['title','content']: searchPage2.text | orderBy:'-create_date'" ng-click="readNews(value._id, value.news_id);" style="height: 100px;">
                                <img ng-src="{{server_url}}{{value.path}}" style="object-fit: cover;z-index: 999;">
                                <h2>{{value.title}}</h2>
                                <div class="fix-tag-list-img" ng-bind-html="value.content"></div>
                                <span class="date-feed">{{ value.create_date | covertotimeThai }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-if="feedPage2.length === 0">
                        <div class="item item-text-wrap">
                            <span class="title-accident">ไม่พบข่าว</span>
                        </div>
                    </div>
                    <div style="height: 48px;"></div>
                </ion-scroll>
            </ion-slide>
            <ion-slide>
                <div class="item item-input-inset" ng-click="openModal('modal-searchfeed')">
                    <label class="item-input-wrapper">
                        <i class="icon ion-ios-search placeholder-icon"></i>
                        <input type="search" ng-model="searchPage3.text" placeholder="ค้นหา">
                    </label>
                    <img src="img/feed/calendar.png" style="width: 32px;left: 6px;position: relative;" ng-if="date3 === null">
                    <img src="img/feed/calendar_select.png" style="width: 32px;left: 6px;position: relative;" ng-if="date3 !== null">
                </div>
                <ion-scroll class="scroll">
                    <ion-refresher pulling-text="ดึงลงเพื่อโหลดใหม่" on-refresh="doRefrsesh()" pulling-icon="ion-android-arrow-down light" spinner="bubbles" class="refresher-job">
                    </ion-refresher>
                    <div ng-if="feedPage3.length > 0">
                        <div class="list fix-tag-list-html">
                            <div class="item item-thumbnail-left" ng-repeat="value in feedPage3 | filterBy: ['title','content']: searchPage3.text | orderBy:'-create_date'" ng-click="readNews(value._id, value.news_id);" style="height: 100px;">
                                <img ng-src="{{server_url}}{{value.path}}" style="object-fit: cover;z-index: 999;">
                                <h2>{{value.title}}</h2>
                                <div class="fix-tag-list-img" ng-bind-html="value.content"></div>
                                <span class="date-feed">{{ value.create_date | covertotimeThai }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card" ng-if="feedPage3.length === 0">
                        <div class="item item-text-wrap">
                            <span class="title-accident">ไม่พบข่าว</span>
                        </div>
                    </div>
                    <div style="height: 48px;"></div>
                </ion-scroll>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
    <style type="text/css">
    .activeIconImg {
        color: #ef3a9e !important;
    }

    .icon-slidepage {
        font-size: 28px;
        position: absolute;
        color: #7ed4ec;
        text-shadow: 1px 1px 2px black, 0 0 25px #b4b4ff, 0 0 5px #ffffff;
    }

    .icon-slidepage {
        font-size: 28px;
        position: absolute;
        color: #7ed4ec;
        text-shadow: 1px 1px 2px black, 0 0 25px #b4b4ff, 0 0 5px #ffffff;
    }

    .slider-pager {
        display: none;
    }

    .content-height {
        height: 65% !important;
    }

    .ads-height {
        height: 35%;
    }

    .topic-feed {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select-page-active {
        color: deeppink !important;
    }

    .select-page {
        position: relative;
        top: -12px!important;
    }

    .select-box {
        text-align: center;
        padding: 12px;
    }

    .select-box-active {
        color: #7ed4ec;
    }

    .slide-news {
        width: 100%;
        height: 35vh;
        object-fit: cover;
        padding-top: 0px;
        line-height: 1;
    }

    .slidenews {
        color: #fafafa;
        bottom: 10px !important;
        position: absolute;
        margin-bottom: -15px;
        font-size: 20px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.36) 0%, #0B0B0B 100%);
        padding: 12px;
        line-height: 15px;
        width: 100%;
    }

    .padding-0 {
        padding: 0px;
    }

    .topic_box_second_topic {
        color: #fff !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0px;
        text-align: left;
        font-size: 18px;
    }
    </style>
</ion-view>